{% extends "base.html" %}

{% block bb %}
<form action="/{{todo.id}}/update" method="post">
  <div class="form-group">
    <label for="title">할 일</label>
    <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}">
  </div>
  <div class="form-group">
    <label for="deadline">마감 날짜</label>
    <input type="date" class="form-control" id="deadline" name="deadline" value="{{todo.deadline.strftime('%Y-%m-%d')}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}